/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white; /* Zorg ervoor dat de achtergrondkleur goed zichtbaar is */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optioneel, schaduw voor een mooi effect */
  position: fixed; /* Zorg ervoor dat de navbar altijd bovenaan blijft */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Zorg ervoor dat de navbar bovenaan blijft */
  width: 100%;
}

.navbar-left .logo {
  height: 30px; /* Pas de hoogte van het logo aan */
}

.navbar-center .search-bar {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.navbar-right .user-icon {
  height: 30px;
  border-radius: 50%; /* Maak de user icon rond */
  object-fit: cover;
}
