/* Styles voor de stories */
.stories {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
  background-color: #fff;
}

.story {
  flex: 0 0 auto;
  margin-right: 15px;
  text-align: center;
}

.story-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #f0f0f0;
  transition: transform 0.3s ease;
}

.story-image:hover {
  transform: scale(1.1);
}

.story p {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}
